body {
  margin: 0;
  padding: 0;
  font-family: 'Hedvig Letters Serif', serif !important;
}

.card-group .card , .col .card{
  border: none !important;
  margin: 1.5%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 4px 4px 4px 4px #e9e9e94d;
}

.card {
  border: none !important;
  margin: 1.5%;
}
section {
  margin-bottom: 3%;
  margin-top: 3%;
}
 

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(141, 140, 140, 0.151);
  transform: rotateX(90deg);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  pointer-events: none;
  border-radius: 15px 15px 15px 15px !important;
}

.card:hover::before {
  transform: rotateX(0deg);
}


.Ourservices ,.Ourhistory , .Saidaboutus , .Ourpakages , .Clients , .Contactus{

  background-color:rgb(243, 243, 243);
  background-image: url('../src/images/backgroundimage.svg');
  background-color: #a1a1a136;
 background-repeat: no-repeat;
 background-position: left top;
 background-size: contain;
}


.Ourteam .col .card-header img{
  border-radius: 30% !important;

}
 